#placeWrite{ width: 100%; max-width: 600px; margin: 50px auto; padding: 0 10px; box-sizing: border-box; }
#placeWrite .round{ display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center; -ms-flex-align: center; -webkit-box-align: center; align-items: center; width: 40px; height: 40px; border-radius: 100%; }
#placeWrite strong{ font-weight: inherit; }
#placeWrite ul{}
#placeWrite ul li{ display: -ms-flexbox; display: -webkit-box; display: flex; margin: 2.2em 0; }
#placeWrite ul li > *:first-child{ display: block; width: 30%; min-width: 100px; }
#placeWrite ul li .input_wrap{ width: calc(100% - min(30%, 100px)); }
#placeWrite ul li input[type="radio"],
#placeWrite ul li input[type="checkbox"]{ display: none; }
#placeWrite ul li input[type="text"]{ width: 100%; }
#placeWrite ul li input:checked + label { border-color: var(--mainColor); background-color: var(--mainColor); color: #fff; }
/* 필수 */
#placeWrite ul .req strong::after{ content: " *"; color: red; }
/* 주소 */
#placeWrite ul .addr .input_wrap{ gap: 5px; }
#placeWrite ul .addr .input_wrap .btn{ width: 105px; }
#placeWrite ul .addr .input_wrap #address{ width: calc(100% - 110px); padding: 0; border: none; color: var(--mainTxtColor); }
/* 분류 */
#placeWrite ul .cate .input_wrap{ padding: 2px 5px 10px; overflow: auto hidden; }
#placeWrite ul .cate .input_wrap .scroll_wrap{ width: max-content; gap: 10px; }
/* 전화 */
#placeWrite ul .call .input_wrap input{ width: 20%; min-width: 69px; }
/* 휴무일 */
#placeWrite ul .offday .input_wrap{ display: flex; gap: 10px; }
/* 시간 */
#placeWrite ul .time .input_wrap{ justify-content: flex-start; gap: 5px; }
#placeWrite ul .time .input_wrap > input{ width: 2em; height: 60px; font-size: 2em; text-align: center; line-height: 60px; }
#placeWrite ul .time .input_wrap .ampm_wrap{ flex-direction: column; width: 20%; }
#placeWrite ul .time .input_wrap .ampm_wrap label{ padding: 2px; }
#placeWrite ul .time .input_wrap .ampm_wrap label:last-of-type{ border-radius: 0 0 10px 10px; }

#placeWrite ul .sub_btn .btn{ width: 100%; margin-top: 30px; }

/* 분류 게시판 */
#cate_list .table_wrap{ gap: 10px; }
#cate_list .table_wrap article{ width: calc((100% - 20px) / 3); }
#cate_list .table_wrap article table tr td{ text-align: center; vertical-align: middle; white-space: inherit; text-overflow: inherit; }
#cate_list .table_wrap article table tr .idx{ width: 5em; }
#cate_list .table_wrap article table tr .btn_wrap{ width: 7.5em; box-sizing: border-box; }
#cate_list .table_wrap article table tr td.btn_wrap,
#cate_list .table_wrap article table tr td.btn_wrap .reflect{ display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 5px; }
#cate_list .table_wrap article table tr .btn_wrap .reflect ~ input{ display: none; }
/* 등록하기 버튼 */
#cate_list .top_wrap{ gap: 20px; padding: 10px; position: sticky; top: 0; left: 0; }
#cate_list .top_wrap > *{ gap: 5px; }
#cate_list .top_wrap .first_list{ font-size: 1.2em; }
#cate_list .top_wrap .first_list li a{ padding: 10px; text-decoration: underline; }
#cate_list .top_wrap .first_list li a:hover{ color: var(--mainColorD); }

/* 탭 */
@media (max-width: 1200px) and (min-width: 769px){
    /* 분류 게시판 */
    #cate_list .table_wrap article { width: calc((100% - 10px) / 2); }
}

/* 모바일 */
@media (max-width: 768px){
    /* 분류 게시판 */
    #cate_list .table_wrap article { width: 100%; }
}