/* 전체 틀 */
main article { max-width: 600px; margin: 0 auto; }
table tbody tr th { background-color: var(--subGray_10); }
table tbody tr th + td { padding-left: 10px; }
table tbody tr td { overflow: hidden; white-space: initial; text-overflow: initial; }
table tbody tr td span { display:block; }

/* 예약 커서 모양 */
#reservation tr { cursor:pointer; }

/* 찜 하트, 별점 */
#zzim { font-weight: 900; font-size: 1em; color: #ce0000;}

.fa-solid, .fas { font-weight: 900; font-size: 1em; }

.btn-more .fa-solid, .fas { float: right; }

/* 사진 이미지 사이즈 조절 */
img { width: 100%; height: 100%; }

/* 메인이미지 */
#mainImage img { width: 600px; height: 400px; object-fit: cover; object-position: center; }

/* 예약 썸네일  */
#sumnail img { width: 100pt; height: 100pt; }

/* 리뷰 사진 */
.rvSum img { width: 100%; height: 250pt; object-fit: cover; border-radius: 12px; object-position: center; }

/* 상세 정보 말줄임:더보기*/
.feed-longContents .longContents { display: inline-block; width: 280pt; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; vertical-align: top; }

/* 클릭시 컨텐츠 보여주기 */
.feed-longContents .longContents.more { display: inline; white-space: pre-line; }

/* 메인이미지 슬라이드 */
*{ margin: 0; padding: 0; box-sizing: border-box; }
li{ list-style-type: none; }

.img_wrap { width: 100%; overflow: hidden; position: relative; top: 0; left: 0; }

.main_img { width: 600px; height: 400px; position: relative; margin: 0 auto; overflow: hidden; }
/*리스트 형식으로 이미지를 일렬로 
  정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은
  hidden으로 숨겨줘야됨*/
.slides { position: absolute; left: 0; top: 0; width: 3000px; transition: left 0.5s ease-out; }
											/* 슬라이드할 사진과 마진 총 넓이 */ /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
.slides li:first-child{  }
/* 첫 번째 슬라이드 가운데에 정렬하기위해
첫번째 슬라이드만 margin-left조정 */

.slides li:not(:last-child){ float: left; }
/* 슬라이드들 옆으로 정렬 */

.slides li{ float: left; }

/* 이전, 다음 화살표 */
.controller span{ position:absolute; background-color: transparent; color: white; text-align: center; border-radius: 50%; padding: 10px 20px; top: 45%; font-size: 1.3em; cursor: pointer; }

/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller span:hover{ background-color: rgba(128, 128, 128, 0.11); }

/* 이전 화살표 */
.prev{ left: 0px; }
/* 이전 화살표에 마우스 커서가 올라가 있을때 
이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
.prev:hover{ transform: translateX(-10px); }

/* 다음 화살표 */
.next{ right: 0px; }
/* 다음 화살표에 마우스 커서가 올라가 있을때 
이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
.next:hover{ transform: translateX(10px); }

