/* 회원가입 폼 */
main form{ max-width: 600px; margin: 0 auto; }
main form ul li:not(.tab_radio){ padding: 10px; }
main form ul li.tab_radio{ padding: 20px 0; }
main form .user_info li label{ display: block; }
main form .user_info li label.req::after{ content: " * "; color: red; }
main form .user_info li .need_confirm{ position: relative; top: 0; left: 0; }
main form .user_info li .need_confirm i{ position: absolute; top: 50%; right: 15px; transform: translateY(-60%); color: #188d70; }
main form .user_info li .need_confirm i.time{ color: var(--subGray_60); }
main form .user_info li input:not([type="button"]):not([type="checkbox"]):not([type="radio"]){ width: 100%; margin-bottom: 5px; }
main form .user_info li input[type="button"]{ width: 130px; margin-bottom: 5px; font-size: 16px; }
main form .user_info li input[readonly]{ background-color: var(--subGray_10); }
main form .user_info li input#m_id,
main form .user_info li input#m_own_num,
main form .user_info li input#m_cellphone{ width: calc(100% - 135px); }
main form .user_info li #m_email1,
main form .user_info li #m_email2,
main form .user_info li #m_email3{ width: 31.8%; vertical-align: inherit; }
main form .user_info li .help{ color: var(--subGray_60); font-size: 0.9em; }
main form .user_info li .help::before{ content: "\f059"; padding-right: 5px; font-family: var(--fa-style-family,"Font Awesome 6 Free"); font-weight: var(--fa-style,900); }
main form .user_info li .help.warn{ color: red; }
main form .user_info li .help.warn::before{ content: "\f071"; }

/* 이용약관 */
main form .agreements li label input[type="checkbox"]:not(#agreeAll){ display: none; }
main form .agreements li label .fa-check{ display: inline; padding: 0 5px; color: var(--subColor); }
main form .agreements li label input:checked + .fa-check{ color: var(--mainColor); }
main form .agreements li label .btn:hover{ transform: none !important; }
main form .agreements li .fa-chevron-down{ cursor: pointer; }
main form .agreements li div{ height: 0; margin: 0 25px; padding: 0 10px; overflow: auto; background-color: var(--subGray_5); transition: height 0.5s, margin 0.5s; }
/* 약관을 펼쳤을 때 */
main form .agreements li.on .fa-chevron-down{ transform: rotate(180deg); }
main form .agreements li.on div{ height: 150px; margin: 10px 25px; }

/* 가입하기 버튼 */
main form .submit{ width: 100%; margin: 20px 0; }