/* header */
header{ padding: 10px 0; position: relative; top: 0; left: 0; z-index: 99; transition: 0.5s; }
header{ width: 100%; border-bottom: 3px solid var(--mainColor); }

/* header-로고 */
header .header_wrap .logo_wrap{ width: 50px; height: 46.3px; overflow: hidden; }
header .header_wrap .logo_wrap a{ display: block; transition: 0.5s; }
header .header_wrap .logo_wrap a img{ width: 50px; }

/* header-검색 조건 버튼 */
header .header_wrap #search{}
header .header_wrap #search .types{ margin-right: 10px; }
header .header_wrap #search .types li input{ margin: 0; width: 35px; height: 35px; border-radius: 5px; color: var(--mainColor); font-size: 25px; text-align: center; line-height: 35px; }
header .header_wrap #search .types li input:checked{ background-color: var(--mainColor); color: #fff; }/*선택된 버튼*/
header .header_wrap #search .types li .search::before{ content: "\f002"; }
header .header_wrap #search .types li .gps::before{ content: "\f601"; }
header .header_wrap #search .types li .subway::before{ content: "\f239"; }

/* header-키워드 */
header .header_wrap #search .keyword_wrap{ position: relative; top: 0; left: 0; }
/* header-검색 조건이 일반 검색일 때 */
header .header_wrap #search .keyword_wrap input[type="text"]{ width: 350px; height: 35px; padding-right: 50px; }
header .header_wrap #search .keyword_wrap input[type="text"]:focus{ width: 400px; }
header .header_wrap #search .keyword_wrap input[type="submit"]{ padding: 2px 10px; border: none; border-left: 2px solid var(--mainColor); border-radius: 0; position: absolute; top: 50%; right: 5px; z-index: 100; transform: translateY(-50%); color: var(--mainTxtColor); font-size: 0.8em; }
header .header_wrap #search .keyword_wrap .recent_keyword{ display: none; width: 100%; padding: 10px; border: 1px solid var(--subGray_70); border-radius: 5px; box-sizing: border-box; position: absolute; top: calc(100% + 5px); left: 0; background-color: #fff; color: var(--mainTxtColor); }
header .header_wrap #search .keyword_wrap:focus-within .recent_keyword{ display: block; }
header .header_wrap #search .keyword_wrap .recent_keyword li input[type="button"]{ width: 100%; padding: 2px 10px; box-sizing: border-box; color: var(--subGray_40); text-align: left; }
/* header-검색 조건이 지하철일 때 */
header .header_wrap #search .keyword_wrap .select_title,
header .header_wrap #search .keyword_wrap .select_list{ border: 1px solid var(--subGray_70); border-radius: 5px; box-sizing: border-box; background-color: #fff; color: var(--mainTxtColor); }
header .header_wrap #search .keyword_wrap li{ padding: 5px 10px; box-sizing: border-box; }
header .header_wrap #search .keyword_wrap .loc,
header .header_wrap #search .keyword_wrap .line{ width: 23%; border-right: 1px solid var(--subGray_40); }
header .header_wrap #search .keyword_wrap .line{ width: 31%; }
header .header_wrap #search .keyword_wrap .search_keyword{ width: 46%; }
header .header_wrap #search .keyword_wrap .select_title{ width: 350px; height: 35px; }
header .header_wrap #search .keyword_wrap .select_title li{ display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-pack: justify; -webkit-box-pack: justify; justify-content: space-between; -ms-flex-align: center; -webkit-box-align: center; align-items: center; }
header .header_wrap #search .keyword_wrap .select_title li::after{ content: "\f107"; font-family: FontAwesome; color: var(--mainColor); }
header .header_wrap #search .keyword_wrap .select_list{ display: none; width: 100%; position: absolute; top: calc(100% + 5px); left: 0; }
header .header_wrap #search .keyword_wrap .select_list ul{ max-height: 245px; overflow-x: hidden; overflow-y: auto; box-sizing: border-box; }
header .header_wrap #search .keyword_wrap .select_list ul .on{ background-color: var(--mainColor); color: #fff; }
header .header_wrap #search .keyword_wrap .on .select_title li::after{ content: "\f106"; }
header .header_wrap #search .keyword_wrap .on + .select_list{ display: -ms-flexbox; display: -webkit-box; display: flex; }

/* header-서브 페이지 */
header .header_wrap .sub_pages li{ margin-right: 20px; }
header .header_wrap .sub_pages li:last-of-type{ margin-right: 0; }
header .header_wrap .sub_pages nav{ display: none; }
header .header_wrap .menu_btn{ display:none; }

/* header-스크롤링 되었을 때 */
header.on{ border: none; position: fixed; background-color: var(--mainColor); color: #fff; }
header.on .header_wrap .logo_wrap a{ transform: translateY(-50%); }
header.on .header_wrap #search .types li input{ color: #fff; }
header.on .header_wrap #search .types li input:checked{ border: 1px solid #fff; background-color: #fff; color: var(--mainColor); }

/* main */
main{ min-height: calc(100vh - 249px); padding: 20px 0;  position: relative; top: 0; left: 0; }
main .empty{ padding: 200px 0; text-align: center; }

/* nav */
main nav{ display: block; width: 230px; height: 100%; padding: 20px 0; box-sizing: border-box; position: absolute; top: 0; left: 0; }
main nav .nav_wrap{ display: block; width: 100%; max-height: calc(100vh - 110px); border: 1px solid var(--subGray_20); border-radius: 5px; box-sizing: border-box; overflow: auto; position: sticky; top: 80px; left: 0; background-color: #fff; }
main nav .nav_wrap h2{ padding: 3px 15px; background-color: var(--subGray_30); color: #fff; font-size: 26px; }
main nav .nav_wrap h3{ margin-bottom: 5px; padding: 3px 15px; border-bottom: 1px dashed var(--subGray_20); font-size: 22px; }
main nav .nav_wrap ul { padding-bottom: 10px; border-top: 10px solid var(--subGray_20); border-bottom: 1px solid var(--subGray_40); }
main nav .nav_wrap ul li a{ display: block; padding: 3px 20px; }
main nav .nav_wrap ul:first-of-type{ border-top: none; }
main nav .nav_wrap ul:last-of-type{ border-bottom: none; }
main .main_wrap { padding-left: 250px; }

/* paging */
main .paging{ padding: 20px 0; text-align: center; font-size: 0; vertical-align: middle; }
main .paging a,
main .paging strong{ display: inline-block; width: 34px; height: 34px; margin-left: -1px; border: 1px solid var(--subGray_20); box-sizing: border-box; font-size: 1rem; line-height: 34px; }
main .paging a:hover,
main .paging strong:hover{ background: var(--subGray_5); }
main .paging strong{ border-bottom: 3px solid var(--mainColor); color: var(--mainColor); cursor: pointer; }
main .paging .first,
main .paging .before,
main .paging .next,
main .paging .end{ font-family: "Font Awesome 6 Free"; font-size: 0; font-weight: bold; text-decoration: inherit; }
main .paging .first::before{ content: "\f100"; font-size: 1rem; }
main .paging .before::before{ content: "\f104"; font-size: 1rem; }
main .paging .next::before{ content: "\f105"; font-size: 1rem; }
main .paging .end::before{ content: "\f101"; font-size: 1rem; }

/* footer */
footer{ padding: 20px 0 35px; background-color: var(--subGray_90); color: #fff; }
footer ul li{ display: inline-block; margin-right: 20px; }

/* 모바일 */
@media (max-width: 1200px){
	/* header */
	header{ height: 40px; }
	header .header_wrap{ display: block; width: 90vw; height: 100vh; padding: 0; border-left: 2px solid var(--mainColor); box-sizing: border-box; overflow-y: auto; overflow-x: hidden; background-color: #fff; position: fixed; top: 0; right: -100%; color: var(--mainTxtColor); transition: 0.5s; }
	header .header_wrap .logo_wrap{ position: fixed; top: 7px; left: 10px; }
	header .header_wrap #search{ display: block; padding: 20px; }
	header .header_wrap #search .types{ width: 105px; margin: 10px auto; }
	header .header_wrap #search .keyword_wrap input[type="text"],
	header .header_wrap #search .keyword_wrap > button,
	header .header_wrap #search .keyword_wrap .select_title{ width: 100% !important; }
	header .header_wrap .sub_pages{ display: block; }
	header .header_wrap .sub_pages li{ width: 100%; padding: 20px; border-bottom: 1px dotted var(--subGray_20); box-sizing: border-box; }
	header .header_wrap .sub_pages nav{ display: block; border-bottom: 1px dotted var(--subGray_20); }
	header .header_wrap .sub_pages nav + li{ display: none; }
	header .header_wrap .sub_pages nav h2,
	header .header_wrap .sub_pages nav h3,
	header .header_wrap .sub_pages nav ul{ padding: 20px; font-size: 100%; }
	header .header_wrap .sub_pages nav h3{ padding-left: 10px; background-color: var(--subGray_5); }
	header .header_wrap .sub_pages nav ul{ padding-top: 0; }
	header .header_wrap .sub_pages nav ul li{ background-color: var(--subGray_5); }
	header .header_wrap .sub_pages nav ul h3 ~ li{ background-color: var(--subGray_10); }
	header .header_wrap .menu_btn{ display: block; width: 40px; height: 40px; position: fixed; top: 10px; right: 10px; }
	header .header_wrap .menu_btn svg{ stroke: var(--subGray_60); }
	header .header_wrap .menu_btn svg line{ transition: 0.5s; }
	header .header_wrap .menu_btn svg .bar1{ transform-origin: 3.5px 6px; }
	header .header_wrap .menu_btn svg .bar3{ transform-origin: 3.5px 18px; }
	/* header-스크롤링 되었을 때 */
	header.on .header_wrap #search{ background-color: var(--mainColor); }
	header.on .header_wrap .menu_btn svg{ stroke: #fff; }
	/* header-메뉴 보기 버튼이 클릭 되었을 때 */
	header.show::after{ display: block; content: ""; width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; background-color: #000; opacity: 0.5; z-index: -1; }
	header.show .header_wrap{ right: 0; }
	header.show .header_wrap .logo_wrap a{ opacity: 0; }
	header.show .header_wrap .menu_btn svg .bar1{ transform: rotate(45deg); }
	header.show .header_wrap .menu_btn svg .bar2{ transform: translateX(100%); }
	header.show .header_wrap .menu_btn svg .bar3{ transform: rotate(-45deg); }
	
	/* nav */
	main nav{ display: none; }
	main .main_wrap { padding-left: 0; }
}