/* ======변수====== */
:root {
    /* 컬러 */
    --mainColor: #674ea7; --subColor: #cfe2f3;
    --mainTxtColor: #1b1b1b; --subTxtColor: #757575;
    --subGray_5: #f2f4f5; --subGray_10: #e6e8eb; --subGray_20: #d1d5d9; --subGray_30: #b8bfc4; --subGray_40: #9ea7ad; --subGray_50: #808991; --subGray_60: #636c73; --subGray_70: #525a61; --subGray_80: #40474d; --subGray_90: #303538;
}
.color { color: var(--mainColor); } .subColor { color: var(--subColor); }
.bgColor { background-color: var(--mainColor); color: #fff; } .bgSubColor { background-color: var(--subColor); }

/* 공통 레이아웃 */
html { width: 100%; scroll-behavior: smooth; color: var(--mainTxtColor); line-height: 1.5; }
.displaynone { display: none; }
.slim_scroll::-webkit-scrollbar { width: 6px; }
.slim_scroll::-webkit-scrollbar-thumb { background-color: #bbb; }
.slim_scroll::-webkit-scrollbar-track { background-color: #f2f2f2; }

/* flex 관련 */
.flex { display: -ms-flexbox; display: -webkit-box; display: flex; }
.flexWrap { -ms-flex-wrap: wrap; -webkit-box-lines: multiple; flex-wrap: wrap; }
.flexBetween { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-pack: justify; -webkit-box-pack: justify; justify-content: space-between; -ms-flex-align: center; -webkit-box-align: center; align-items: center; }
.flexCenter { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center; -ms-flex-align: center; -webkit-box-align: center; align-items: center; }

/* ======svg====== */
svg { width: 100%; height: 100%; fill: currentColor; stroke: currentColor; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round; }

/* ======폰트====== */
@font-face { font-family: 'Pretendard Variable'; font-weight: 45 920; font-style: normal; font-display: swap; src: local('Pretendard Variable'), url('/resources/font/PretendardVariable.woff2') format('woff2-variations'); }
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
html { font-family: 'Pretendard Variable', 'Noto Sans KR', '돋움', Dotum, Tahoma, Geneva, sans-serif; font-feature-settings: 'case', 'ccmp', 'tnum', 'ss01', 'ss02', 'ss03', 'ss07', 'ss08'; -webkit-font-feature-settings: 'case', 'ccmp', 'tnum', 'ss01', 'ss02', 'ss03', 'ss07', 'ss08'; -moz-font-feature-settings: 'case', 'ccmp', 'tnum', 'ss01', 'ss02', 'ss03', 'ss07', 'ss08'; } /* Pretendard 기준 대문자에 맞춘 숫자, 합성문자, 고정폭 숫자, 곧은 69, 열린4, 가운데 맞춤 :, 단층 a, 직선 3 */
.frac { font-feature-settings: 'frac'; -webkit-font-feature-settings: 'frac'; -moz-font-feature-settings: 'frac'; } /* Pretendard 기준 분수 */
.sups { font-feature-settings: 'sups'; -webkit-font-feature-settings: 'sups'; -moz-font-feature-settings: 'sups'; } /* Pretendard 기준 윗첨자 */
.subs { font-feature-settings: 'subs'; -webkit-font-feature-settings: 'subs'; -moz-font-feature-settings: 'subs'; } /* Pretendard 기준 아래첨자 */
.zero { font-feature-settings: 'zero'; -webkit-font-feature-settings: 'zero'; -moz-font-feature-settings: 'zero'; } /* Pretendard 기준 슬래쉬 0 */
.middleDot { font-feature-settings: 'ss05'; -webkit-font-feature-settings: 'ss05'; -moz-font-feature-settings: 'ss05'; } /* Pretendard 기준 가운데 말줄임표 */

/* 굵기 */
.light { font-weight: 300 }
.normal { font-weight: 400 }
.bold { font-weight: 700 }
.bolder { font-weight: 800 }

/* 정렬 */
.txt_left { text-align: left; }
.txt_center { text-align: center; }
.txt_right { text-align: right; }

/* ======폰트 사이즈====== */
h1 { font-size: 40px; }
h2 { font-size: 35px; }
h3 { font-size: 30px; }
h4 { font-size: 26px; }
.txt_big { font-size: 22px; }
.txt_normal { font-size: 18px; }
.txt_small { font-size: 14px; }
small { font-size: 10px; }

/* fontawsome 관련 */
i[class^=fa] { display: block; font-family: "Font Awesome 6 Free"; text-decoration: inherit; }
input.fa, button.fa, .btn.fa { -webkit-appearance: none; appearance: none; }

/* ======form====== */
select,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea { max-width: 100%; height: 35px; padding: 0 7px; border: 1px solid var(--subGray_40); outline-style: none; appearance: none; -webkit-appearance: none; -moz-appearance: none;     border-radius: 5px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; color: var(--subGray_60); transition: 0.5s; }
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus { border: 1px solid var(--subGray_70); box-shadow: 2px 2px 5px 0px #00000045; color: var(--subGray_90); }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

/* 텍스트 입력 박스 */
textarea { padding: 5px 7px; resize: none; }

/* 파일 첨부 박스 */
input[type="file"] {}

/* 라디오/체크박스 */
input[type="checkbox"],
input[type="radio"] { width: 24px; height: 24px; margin-right: 4px; cursor: pointer; accent-color: var(--mainColor); }
/* 스위치형 라디오 */
.switch_radio { display: inline-block; padding: 2px; border-radius: 500px; box-sizing: border-box; background-color: var(--mainColor); vertical-align: middle; }
.switch_radio input[type="radio"] { margin: 0; appearance: none; float: left; }
.switch_radio input[type="radio"]:checked { border-radius: 100%; background-color: #fff; }
/* 탭형 라디오 */
.tab_radio { display: -ms-flexbox; display: -webkit-box; display: flex; width: 100%; }
.tab_radio input[type="radio"] { display: none; }
.tab_radio label { display: block; width: 100%; padding: 10px 0; border: 1px solid var(--subGray_20); border-bottom: none; border-radius: 10px 10px 0 0; box-sizing: border-box; background-color: var(--subGray_20); text-align: center; }
.tab_radio input[type="radio"]:checked + label { background-color: #fff; }

/* 선택박스 */
select { margin: 0; padding: 0 25px 0 8px; background: url(/resources/image/bg_arrow.png) no-repeat 97% center; background-size: 20px 20px; cursor: pointer; }

/* 버튼 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] { border-radius: 5px; }
.btn, input.btn, button.btn { display: inline-block; padding: 5px 10px; border: 1px solid var(--subGray_40); border-radius: 5px; box-sizing: border-box; overflow: hidden; background-color: #fff; vertical-align: middle; cursor: pointer; }
.btn:hover:not(.disable):not(:disabled):not(disabled), input.btn:hover:not(.disable):not(:disabled):not(disabled), button.btn:hover:not(.disable):not(:disabled):not(disabled) { transform: scale(1.05); }
.btn.disable, .btn:disabled, .btn[disabled], input.btn.disable, input.btn:disabled, input.btn[disabled], button.btn.disable, button.btn:disabled, button.btn[disabled] { position: relative; top: 0; left: 0; cursor: default; z-index: 0; }
.btn.disable::before, .btn:disabled::before, .btn[disabled]::before, input.btn.disable::before, input.btn:disabled::before, input.btn[disabled]::before, button.btn.disable::before, button.btn:disabled::before, button.btn[disabled]::before { display: inline-block; content: ""; width: 100%; height: 100%; background-color: #000; opacity: 0.3; position: absolute; top: 0; left: 0; }
.btn.normal, input.btn.normal, button.btn.normal { border-color: var(--subColor); background-color: var(--subColor); color: #fff; }
.btn.submit, input.btn.submit, button.btn.submit { border-color: var(--mainColor); background-color: var(--mainColor); color: #fff; }
.btn.warn, input.btn.warn, button.btn.warn { border-color: #ce0000; background-color: #ce0000; color: #fff; }
.btn.slim, input.slim, button.slim{ padding: 0 8px; }

/* 비활성화 */
button[disabled],
input:disabled,
input[disabled],
select.disabled,
textarea.disabled { background-color: var(--subGray_20); color: var(--subGray_70); }
select.disabled { background: var(--subGray_20) url(/resources/image/bg_disableArrow.png) no-repeat 90% center; background-size: 20px 20px; }

/* ====== 테이블 ====== */
table thead tr { background-color: var(--subGray_10); }
table thead tr th, table thead tr td { padding: 15px 0; }
table tbody tr { border-bottom: 1px dotted var(--subGray_40); }
table tbody tr:last-of-type { border-bottom: 1px solid var(--subGray_50); }
table tbody tr:hover { background-color: var(--subGray_5); }
table tbody tr th, table tbody tr td { padding: 10px 0; }
table tbody tr th { background-color: var(--subGray_5); }
table tbody tr td { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
/* 카드형 */
table.card_table, table.card_table tbody tr, table.card_table tbody tr td { display: block; }
table.card_table thead { display: none; }
table.card_table tbody { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-wrap: wrap; -webkit-box-lines: multiple; flex-wrap: wrap; }
table.card_table tbody tr { width: calc((100% - 20px) / 3); margin: 0 10px 10px 0; border: 1px solid var(--subGray_40); border-radius: 10px; box-sizing: border-box; overflow: hidden; box-shadow: 3px 3px 5px var(--subGray_20); }
table.card_table tbody tr:nth-of-type(3n) { margin-right: 0; }
table.card_table.row2 tbody tr { width: calc((100% - 10px) / 2); margin: 0 10px 10px 0; }
table.card_table.row2 tbody tr:nth-of-type(2n) { margin-right: 0; }
table.card_table.row1 tbody tr { width: 100%; margin: 0 0 10px 0; }
table.card_table tbody tr td { padding: 5px 10px; box-sizing: border-box; white-space: inherit; }

/* ======반응형 클래스====== */
.mobileShow { display: none; }
.layoutCenter { width: 100%; max-width: 1200px; margin-left: auto; margin-right: auto; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* 탭 */
@media (max-width: 1200px) and (min-width: 769px){
    /* 반응형 클래스 */
    .layoutCenter { max-width: none; padding-left: 20px; padding-right: 20px; }
    
    /* 카드형 테이블 */
    table.card_table tbody tr { width: calc((100% - 10px) / 2); }
	table.card_table tbody tr:nth-of-type(2n) { margin-right: 0; }
    table.card_table tbody tr:nth-of-type(3n) { margin-right: 10px; }
}

/* 모바일 */
@media (max-width: 768px){
    /* 반응형 클래스 */
    main { min-width: 360px; font-size: calc(max(16px, 7px + 2vw)); }
    .layoutCenter { width: 90%; }
    .mobileShow { display: block !important; }

    /* 폰트 사이즈 */
    h1 { font-size: calc(max(28px, 23px + 2vw)); }
    h2 { font-size: calc(max(26px, 21px + 2vw)); }
    h3 { font-size: calc(max(24px, 18px + 2vw)); }
    h4 { font-size: calc(max(20px, 14px + 2vw)); }
    .txt_big { font-size: calc(max(18px, 12px + 2vw)); }
    .txt_normal { font-size: calc(max(16px, 8px + 2vw)); }
    .txt_small { font-size: calc(max(14px, 6px + 2vw)); }
    small { font-size: calc(max(10px, 6px + 1vw)); }
    
    /* 카드형 테이블 */
    table.card_table tbody tr { width: 100%; margin: 0 0 10px 0; }
}