#기타 문서
*.psd
*.pptx
*.docx
**/00_plan/
_ing/
**/node_modules/

#프로젝트 설정 파일
.vscode
.classpath
.project
.settings/
web.xml

###컴파일된 클래스 파일
*.class

#로그 파일
*.log

#모바일 툴
.mtj.tmp/

# BlueJ
*.ctxt

#패키지 파일
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#가상머신 충돌 로그
hs_err_pid*
replay_pid*

#Mac OS
.DS_Store

# CS56 specific: Secrets files
localhost.json
heroku.json

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans
# Spring Boot Tooling
.sts4-cache/

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
/.idea/
