/* 공통 */
section{ margin: 0 auto 70px; }
section h1{ color: var(--mainColorD); }
section h2{ margin-bottom: 20px; color: var(--subGray_60); font-size: 1.5em; }
section h3{ display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; margin: 20px 0 10px; font-size: 1em; }
section h3 .go{ position: relative; }
section h3 .go::after{ display: block; content: ""; width: 0; height: 1px; background-color: #000; position: absolute; bottom: 0; left: 0; }
section h3 .go:hover::after{ animation: go 0.7s 1; }
section h3 .go i{ display: inline; }
@keyframes go {
    0%{ width: 0; left: 0; }
    20%{ width: 20px; }
    100%{ width: 0px; left: 100%; }
}

/* 메인 배너 */
#main_banner{ margin-top: 60px; }
#main_banner .img_wrap img{ object-fit: cover; }

/* 미니 배너 */
#min_banner a { width: 100%; height: 300px; border: 15px double #004570; border-left: 0; border-right: 0; background: #d3e4ef url(/resources/image/main/min_banner_1.jpg) no-repeat; background-attachment: fixed; background-size: 100%; background-position: center bottom; }
#min_banner a h1{ text-shadow: 0 0 10px #004570; }
#min_banner a h1 small{ color: var(--subGray_5); font-size: 0.5em; }
#min_banner a h1 span{ color: #fff; }
#min_banner a h1 strong{ color: #bce5ff; }
#min_banner a h1 i{ display: inline; }

/* 오늘 올라온 NEW 컨텐츠 */
#talk{}
#talk .free_wrap ul,
#talk .free_wrap ul li{ display: block; width: 100%; height: 50px; overflow: hidden; }
#talk .free_wrap ul li{ animation: list_up 3s infinite; padding: 0 20px; border-bottom: 1px dashed var(--subGray_20); box-sizing: border-box; line-height: 50px; }
#talk .free_wrap ul li:first-child{ border-top: 1px dashed var(--subGray_20); }
@keyframes list_up {
    0%{ transform: translateY(0); }
    100%{ transform: translateY(-200%); }
}

/* 도움이 필요해요! */
#help{}
#help .help_wrap{ gap: 20px; }
#help .help_wrap article{ min-width: 360px; }
#help .help_wrap .missing_wrap{ flex: 2; }
#help .help_wrap .volunteer_wrap{ flex: 1; }

/* 반려동물 지식 */
#info{}