table {
	border-collapse: collapse;
	border-spacing: 0;
}
.title_image{
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 20px 0;
	margin-left:390px;
	
}
section.notice {
	padding: 10px 0;
}

.page-title {
	margin-bottom: 10px;
}

.page-title h3 {
	font-size: 28px;
	color: #333333;
	font-weight: 400;
	text-align: center;
}

#board-search .search-window {
	background-color: #f0b1aa12;
	max-width: 100%;
	width: 100%;
	text-align: center;
	padding: 20px ;
}

.board-table {
	font-size: 13px;
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.board-table a {
	color: #333;
	display: inline-block;
	line-height: 1.4;
	word-break: break-all;
	vertical-align: middle;
}

.board-table a:hover {
	text-decoration: underline;
}

.board-table th {
	text-align: center;
	background-color: #fff;
	font-weight: bold;
	
}

.board-table .th-num {
	width: 100px;
	text-align: center;
}

.board-table .th-date {
	width: 200px;
}

.board-table th, .board-table td {
	padding: 14px 0;
}

.board-table tbody td {
	border-top: 1px solid #e7e7e7;
	text-align: center;
}

.board-table tbody th {
	padding-left: 20px;
	padding-right: 14px;
	border-top: 1px solid #e7e7e7;
}

.board-table tbody th p {
	display: none;
}

/* reset */
* {
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.container {
	width: 1100px;
	margin: 0 auto;
}

.blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	margin: -1px;
	width: 1px;
	height: 1px;
}

.tab_radio label { background-color: #fff;; }
.tab_radio input[type="radio"]:checked + label {  background-color: #fff; color: var(--mainColor); border: 1px solid var(--mainColor); }
